<!DOCTYPE html>
  <html>
   <head>
    <title><%= title %> | Munchies</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
     </head>
     <body>
   <p> Welcome to munchies! A place where you can eat like a stoner whether you're high or not. We have a variety of munchie foods ranging from sandwhiches, pizza, side items including cheese sticks, french fries covered in cheese and chili, milk shakes, etc.. If you crave it, we'll make it .. Enjoy!!
 </body>
</html>