<!DOCTYPE html>
  <html>
   <head>
    <title><%= title %> | Munchies</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
     </head>
     <body>
     <form action="/contact/test" method="POST" >
     <input name="Name" type="text" placeholder="Name">
    <input name="email" type="email" placeholder="email" value="email">
   <textarea name="comment" form="usrform">Enter message here...</textarea>
  <button  type="submit">Send</button>
 </body>
</html>
