<!DOCTYPE html>
  <html>
   <head>
    <title><%= title %> | Munchies</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
     </head>
     <body>
     <form action="/contact" >
     <input name="Name" type="text" placeholder="Name">
    <input name="email" type="email" placeholder="email value=<%=obj.to%>>
   <textarea name="comment" form="usrform">Enter message here...</textarea>
  <button onclick= type="button">Send</button>
 </body>
</html>
