<!DOCTYPE html>
  <html>
   <head>
    <title><%= title %> | Munchies</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
     </head>
     <body>
      <h1> Welcome to Munchies!!</h1>
      <img src="http://tinyurl.com/nq5onl7">
   </body>
 </html>